* {
  font-family: Open Sans
}

body {
  margin: 0;
  padding: 0;
}
svg {
background-color:   rgb(245,245,245);
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

main section  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.2em;
}

main section label, main section input {
  padding: 1em;
  height: 1.5em;
}

.result {
  width: 100%;
  /* border-bottom: 2px solid rgba(189,45,0,1); */
}

.bttn {
  display: block;
  text-decoration: none;
  font-size: 1.25em;
  padding: .5em;
  border: 1px solid rgba(20,20,20,.8);
  color: black;
  font-weight: bold;
}

.bttn:link {
  background: linear-gradient(rgba(230,230,230,.5), rgba(220,220,220,.5));
}

.bttn:hover {
  background: linear-gradient(rgba(230,230,230,1), rgba(220,220,220,1));
  border: 1px solid rgba(20,20,20,.2);
}

.bttn:visited {
  color:inherit;
}


.title {
  font-family: Open Sans, sans-serif;
  font-size: 2em
}
